<div class="main-content">
    <div class="special">
      <div class="inner"><header><h1>Tenha os Melhores Investimentos ao Seu Alcance!</h1>
    
    
    
    
    </header>
    <div class="special-text">
      <header>
        <div class="special-icon"><span class="iconfont icon-tesourodireto"></span></div>
        <h1>Tesouro Direto</h1>
        <p></p>
      </header>
      
      <article>
        <p></p><p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Compre e venda Títulos Públicos, a aplicação de menor risco do mercado! Tudo isso com a acessibilidade, facilidade que só a MyCAP tem para você!</font></font></font></font></p>
    <p></p>
        
        <div class="special-img"></div>
      </article>
    </div>
      </div>
    </div>
    <!-- MAIS PRODUTOS -->
    <div class="allProducts">
                    <div class="inner">
                        <div class="mainProducts">
                            <div class="row">
                                <div class="col-6">
    <div class="product">
      <span class="iconfont icon-bmef"></span>
      <h4>BM&amp;F
        
      </h4>
      <p>Na MyCAP, você pode abrir posições compradas e vendidas para contratos futuros para operações Day Trade!</p>
    </div><div class="product">
      <span class="iconfont icon-acoes"></span>
      <h4>Ações
        
      </h4>
      <p>Potencialize seus investimentos participando dos resultados de grandes empresas! As ações são conversíveis em dinheiro, a qualquer momento, pela negociação na B3.<br>
    &nbsp;</p>
    </div><div class="product">
      <span class="iconfont icon-opcoes"></span>
      <h4>Opções
        
      </h4>
      <p>Alavanque seus investimentos operando Opções no Home Broker MyCAP! Além da proteção contra as oscilações de preço (hedge), você pode diversificar as suas estratégias de investimento com um alto potencial de rentabilidade.</p>
    </div>
    </div><div class="col-6">
        <div class="mainProducts-img"></div></div></div>
    
    </div><div class="row">
    <div class="col-4">
      <div class="product">
        <span class="iconfont icon-fundosindice"></span>
        <h4>Fundos de Índice (ETF)
          
        </h4>
        <p>Diversifique os seus investimentos de forma prática e com segurança através dos Fundos de Índice!&nbsp;</p>
      </div>
    </div><div class="col-4">
      <div class="product">
        <span class="iconfont icon-fundosimobiliarios"></span>
        <h4>Fundos Imobiliários (FII)
          
        </h4>
        <p>Faça parte do time de empreendedores investindo em cotas de Fundos Imobiliários!</p>
      </div>
    </div><div class="col-4">
      <div class="product">
        <span class="iconfont icon-aluguelacoes"></span>
        <h4>Aluguel de Ações (BTC)
          
        </h4>
        <p>Aumente a rentabilidade da sua carteira de investimentos de longo prazo alugando seus ativos!&nbsp;</p>
      </div>
    </div>
    </div><div class="row">
    <div class="col-4">
      <div class="product">
        <span class="iconfont icon-ofertaspublicas"></span>
        <h4>Ofertas Públicas (IPO)
          
        </h4>
        <p>Participe da abertura de capitais das maiores empresas do país!</p>
      </div>
    </div><div class="col-4">
      <div class="product">
        <span class="iconfont icon-termo"></span>
        <h4>Termo
          
        </h4>
        <p>Identificou uma ótima oportunidade de investimento, mas não tem dinheiro a curto prazo? Conheça o mercado a Termo.</p>
      </div>
    </div><div class="col-4">
      <div class="product">
        <span class="iconfont icon-bdr"></span>
        <h4>BDR
          
        </h4>
        <p>Opere certificados de empresas estrangeiras aqui no Brasil! Seja um investidor qualificado e opere agora!</p>
      </div>
    </div>
    </div>	</div>
    </div>
    <!-- fim MAIS PRODUTOS -->
    
    <!-- OUTROS PRODUTOS -->
    <div class="sideProducts">
                    <div class="inner"><header><h3>Serviços de Investimento</h3>
    
    <p>Quem é cliente MyCAP ainda tem mais vantagens!</p>
    
    
    
    
    </header><div class="row">
    <div class="col-6">
      <div class="product">
        <span class="iconfont icon-alavancagem"></span>
        <h5>Alavancagem Intradiária
          
        </h5>
        <p>A MyCAP não quer que você perca nenhuma oportunidade no mercado! Triplique seu poder de compra para negociar ações no Day Trade!</p>
      </div>
    </div><div class="col-6">
      <div class="product">
        <span class="iconfont icon-vendadescoberto"></span>
        <h5>Venda a Descoberto
          
        </h5>
        <p>Você sabia que é possível lucrar mesmo com o mercado em baixa? Conheça a Venda a Descoberto MyCAP!</p>
      </div>
    </div>
    </div><div class="row">
    <div class="col-6">
      <div class="product">
        <span class="iconfont icon-contamargem"></span>
        <h5>Conta Margem
          
        </h5>
        <p>Com a Conta Margem MyCAP, você alavanca a sua carteira de investimentos em até 200%!</p>
      </div>
    </div><div class="col-6">
      <div class="product">
        <span class="iconfont icon-mesaoperacoes"></span>
        <h5>Mesa de Operações
          
        </h5>
        <p>Opere através dos nossos brokers e descubra alternativas de investimentos.&nbsp;</p>
      </div>
    </div>
    </div>	</div>
    </div>
    <!-- fim OUTROS PRODUTOS -->
     <!-- ABRA SUA CONTA -->
    <div class="inner">
    <div class="abra-sua-conta"><a id="p_lt_ctl01_Link_Button1_btnElem_hyperLink" class="button-conta" href="/Abra-Sua-Conta.aspx"><span id="p_lt_ctl01_Link_Button1_btnElem_lblText">Abra sua conta</span></a>
    </div>
    </div>
    <!-- fim ABRA SUA CONTA --></div>